<div style="margin-bottom:20px;">
<p>
  <strong><%= @property.title %></strong>
</p>
<p><%= @property.bedrooms %></p>
<p><%= @property.bathrooms %></p>

<p>
  <%= @property.description %>
</p>

<p>
  <%= @property.category %>
</p>

<p>
  <%= @property.owner %>

</p>

<p>
  <%= @property.area %>
</p>

<p>
  <%= @property.price %>
</p>

<p>
  <%= @property.contact %>

</p>
<p>
  <%= @property.description %>

</p>
</div>
