

<% if records.empty? %>
  
  <% return %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Added By</th>
      <th>Current Status</th>
      <th>Modify</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% records.each do |p| %>
    <tr>
      <td><%= link_to p.title, p %></td>
      <td><%= link_to p.user.name, p.user %></td>
      <td><%= p.status %></td>
      <td><%= link_to "Modify Add", edit_property_path(p) %></td>
      <td><%= link_to "Remove", property_path(p), method: :delete, data: { confirm: "Are You Sure?"} %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
