
<% if @properties.empty? %>
  <h3><%= No Any Property to Show %></h3>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Added By</th>
      <th>Current Status</th>
      <th>Modify</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |p| %>
    <tr>
      <td><%= link_to p.title, property_path(p) %></td>
      <td><%= link_to p.user.name, p.user, class: "btn btn-lg-primary", style: "background-color:yellow; border:1px solid brown; color:brown;" %></td>
      <td><%= p.status %></td>
      <td><%= link_to "Modify Add", edit_property_path(p), class: "btn btn-lg-primary", style: "background-color:pink; border:1px solid blue; color:blue;" %></td>
      <td><%= link_to "Remove", property_path(p), method: :delete, data: { confirm: "Are You Sure?"} , class: "btn btn-lg-primary", style: "background-color:white; border:1px solid black; color:black;" %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
