<h1>Post a New Add</h1>
<%= form_for ([@user, @user.properties.build]) do |f| %>

  <%= render 'shared/error_messages', obj: @property %>

  <table class="table" id="view" style="border:1px solid blue;">
    <tr>
      <th>
        <span><%= f.label :info %></span>
        <span><%= f.select(:info, ['For Rent','For Sale']) %></span>
      </th>
    </tr>
    <tr>
      <th>
        <span><%= f.label(:owner_type, 'I need a Property')  %></span>
        <span><%= f.radio_button(:owner_type, 'I need a Property', checked: true) %></span>

        <span><%= f.label(:owner_type, 'I have a Property')  %></span>
        <span><%= f.radio_button(:owner_type,'I have a Property') %></span>
      </th>
    </tr>
    <%= render 'form', f: f %>
  </table>
<% end %>

<script type="text/javascript">
  $('#property_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
