<% @reviews.each do |r| %>
<p>
  <%= r.rating %>
</p>
<p>
  <%= r.comment %>
</p>
<p>
  <%= link_to r.property.title, r.property %>

</p>

<p> <%= link_to "Edit Your Review", edit_user_review_path(current_user,r) %> </p>
<p> <%= link_to "Remove Comment", user_review_path(current_user,r), method: :delete, data: { confirm: "Are You Sure?"} %> </p>
<% end %>
